
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:auto;
    box-sizing: border-box;
  }

  .mid {
    background-color: #ffffff;
  }

  .mid.dark {
    background-color: #181818;
  }

  .About-text {
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
  }

  .about-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 60vh;
    margin-bottom: 4.25rem; 
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  }

  .only-desktop {
    width: 27vw;
    height: 60vh;
    opacity: 0.9;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: left;
    margin-bottom: 8vh;
    margin-right: 4vw;
    margin-top: 1vh;
  }

  .Line {
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-size: 4rem;
    border-radius: 1rem;
    font-weight: 700;
    color: #111827; 
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
  }

  .vintagecar {
    opacity: 0.85;
    width: 20vw;
    margin-bottom: 3.75rem;
    margin-left: 1vw;
    margin-right: 0.75rem; 
    height: 48vh;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: left;
  }

  .para {
    position: relative;
    top: 3.75rem;
    margin-top: 10vh;
    margin-bottom: 50vh;
    margin-left : 0.75rem;
    margin-right : 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem; 
    font-family: "Roboto", sans-serif;
  }

  .para.dark {
    color: #ffffff;
  }

  .heading {
    position: relative;
    text-align:right;
    padding-right:12vw;
    color: #1f2933;
    opacity: 0.8;
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-family: "Poppins", sans-serif;
  }

  .heading.dark {
    color: #ffffff;
    opacity: 0.6;
  }

  .ourmissionimg {
    opacity: 0.85;
    width: 20vw;
    margin-bottom: 7.75rem;
    margin-left: 0.75rem;
    margin-right: 1vw;
    height: 50vh;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: right;
  }

  .only-desktop1 {
    width: 25vw;
    height: 55vh;
    margin-left: 1vw;
    opacity: 0.9;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: right;
  }

  .para2 {
    position: relative;
    top: 3.75rem;    
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 21.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Roboto", sans-serif;
  }

  .para2.dark {
    color: #ffffff;
  }

  .heading2 {
    position: relative;
    top: 1vh;
    font-size: 2.75rem;
    color: #1f2933;
    opacity: 0.8;
    font-weight: 700;
    margin-left: 10vw;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-family: "Poppins", sans-serif;
  }

  .heading2.dark {
    color: #ffffff;
    opacity: 0.6;
  }

  .rectangle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #111827; 
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
  }

  .line {
    position: relative;
    bottom: 0.25rem;
    left: 5vw;
    text-align: center;
    color: #0f172a; 
    margin-top: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  .Contact {
    position: absolute;
    margin-top: 0.25rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
  }

  .Socials {
    display: flex;
    position: relative;
    top: 1rem;
    right: 46vw;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .helpcenter {
    position: absolute;
    margin-top: 2.75rem;
    right: 10vw;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }

  .topbar {
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 0.75rem;
    background-color: #181818;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .home-link {
    text-align: center;
    color: #ffffff;
    font-size: 1.125rem;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-link:hover {
    text-decoration: underline;
  }

  .logo {
    width: 3.25rem;
    height: 2rem;
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  }

  .AutoDz {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
  }

  .bottombar {
    display: flex;
    align-items: center;
    height: 2.75rem;
    background-color: #181818;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

  }

  .copyright {
    text-align: left;
    font-size: 0.75rem;
    color: #ffffff;
  }

  .termsandprivacy {
    text-align: right;
    font-size: 0.75rem;
    color: #ffffff;
    margin-left: auto;
  }

  .termsandprivacy a:hover {
    text-decoration: underline;
  }
}



@media (max-width: 600px) {
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; 
    box-sizing: border-box;
  }

  .mid {
    background-color: #ffffff;
  }

  .mid.dark {
    background-color: #181818;
  }

  .About-text {
    position: absolute;
    top: 77px;
    left: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
  }

  .about-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 4.25rem;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  }

  .only-desktop {
    display: none;
  }

  .Line {
    position: absolute;
    top: 70px;
    left: 11px;
    font-size: 50px;
    border-radius: 1rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
  }

  .vintagecar {
    opacity: 0.85;
    width: 45vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 27vh;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: left;
  }

  .para {
    margin-bottom: 5.25rem;
    margin-left : 0.75rem;
    margin-right : 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Roboto", sans-serif;
  }

  .para.dark {
    color: #ffffff;
  }

  .heading {
    position: relative;
    top:1vh;
    left:4vw;
    font-size: 22px;
    color: #1f2933;
    opacity: 0.9;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
  }

  .heading.dark {
    color: #ffffff;
    opacity: 0.6;
  }

  .ourmissionimg {
    opacity: 0.85;
    width: 45vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 29vh;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    float: right;
  }

  .only-desktop1 {
    display: none;
  }

  .para2 {
    margin-left: 0.75rem;
    margin-bottom: 3.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Roboto", sans-serif;
  }

  .para2.dark {
    color: #ffffff;
  }

  .heading2 {
    color: #1f2933;
    font-size: 22px;
    font-weight: 700;
    margin-left: 5vw;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-family: "Poppins", sans-serif;
  }

  .heading2.dark {
    color: #ffffff;
    opacity: 0.6;
  }

  .rectangle {
    background-color: #1f2937; 
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: center;
  }

  .line {
    position: relative;
    bottom: 0.25rem;
    left: 14vw;
    text-align: center;
    color: #111827;
    margin-top: 0.25rem;
    font-size: 1.875rem;
    font-weight: 700;
  }

  .Contact {
    position: absolute;
    margin-top: 0.25rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
  }

  .Socials {
    display: flex;
    position: relative;
    top: 1rem;
    right: 52vw;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .facebookicon,
  .insticon,
  .xicon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .helpcenter {
    position: absolute;
    margin-top: 2.75rem;
    right: 10vw;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
  }

  .topbar {
    display: flex;
    height: 2.75rem;
    align-items: center;
    gap: 0.375rem;
    background-color: #181818;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .home-link {
    text-align: center;
    color: #ffffff;
    font-size: 0.875rem;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-link:hover {
    text-decoration: underline;
  }

  .logo {
    width: 2rem;
    height: 1.25rem;
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  }

  .AutoDz {
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 700;
  }

  .bottombar {
    display: flex;
    align-items: center;
    height: 2.75rem;
    background-color: #181818;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

  }

  .copyright {
    text-align: left;
    font-size: 0.75rem;
    color: #ffffff;
  }

  .termsandprivacy {
    text-align: right;
    font-size: 0.75rem;
    color: #ffffff;
    margin-left: auto;
  }

  .termsandprivacy a:hover {
    text-decoration: underline;
  }
}
