body {
    background-color: white;
    color: black;
    transition:
        background-color 0.3s,
        color 0.3s;
}

body.dark .mid {
    background-color: #1a1a1a;
    color: white;
}

body.dark #line {
    color: #111827;
}
body.dark main h1,
body.dark main h2,
body.dark main h3,
body.dark main p {
    color: rgb(255, 255, 255);
}

body.dark .bg-gray-900 {
    background-color: #0a0a0a;
}

body.dark .shadow-lg {
    background-color: #2d2d2d;
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1);
}

body.dark .text-black {
    color: white !important;
}

body.dark .login-btn {
    background-color: #0f0f0f;
    color: white;
}
body.dark .sign-btn {
    background-color: #171717df;
    color: white;
}

body.dark .home-btn,
body.dark .h-btn,
body.dark .tour-btn,
body.dark .about-btn {
    color: white;
}
