@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
  }

  
  .topbar {
    display: flex;
    height: 44px; 
    align-items: center;
    gap: 6px; 
    background-color: #181818;
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .home-link {
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-link:hover {
    text-decoration: underline;
  }

  .logo {
    width: 32px; 
    height: 20px; 
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .AutoDz {
    font-size: 18px; 
    color: white;
    font-weight: bold;
  }

  .termsandprivacy:hover {
    text-decoration: underline;
  }

  .bottombar {
    display: flex;
    align-items: center;
    height: 44px; 
    background-color: #000000;
    opacity: 0.8;
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .copyright {
    text-align: left;
    font-size: 9px;
    color: white;
  }

  .termsandprivacy{
    text-align: right;
    font-size: 9px;
    color: white;
    margin-left: auto;
  }

  
.form-container {
    min-height: 100vh;
    overflow-y: hidden;
    padding: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
    isolation: isolate;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/mercedes-black-raobpqc23szwxs7d.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px);
    z-index: -1;
}

  .text {
    font-size: 32px; 
    color: #111827; 
    font-weight: bold;
  }

  .form {
    padding-left: 45px; 
    padding-right: 45px;
    padding-top: 20px; 
    padding-bottom: 20px;
    max-width: 50rem; 
    display: flex;
    background-color: rgba(0, 0, 0, 0.493); 
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    border-radius: 12px; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .form label {
    margin-top: 20px;
    font-size: 17px; 
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    text-align: left;
  }

  .form input {
    padding: 10px; 
    height: 40px; 
    width: 69vw; 
    background-color: #737070;
    border: 1px solid #111827;
    outline: none;
    border-radius: 8px;
  }

  .form input:focus {
    outline: none;
  }

  .form textarea {
    padding: 10px; 
    border: 1px solid #d1d5db;
    border-radius: 8px;
    resize: none;
  }

  .email {
    padding: 10px;
    height: 40px; 
    width: 360px; 
    background-color: #737070;
    color: #1f2937; 
    text-align: center;
    font-size: 14px; 
    font-style: italic;
    border: 1px solid #111827;
    border-radius: 8px;
  }

  .email::placeholder {
    color: #1f2937;
    font-style: italic;
  }

  .password {
    padding: 10px;
    height: 40px;
    width: 360px;
    background-color: #737070;
    color: #1f2937;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    border: 1px solid #111827;
    border-radius: 8px;
  }

  .password::placeholder {
    color: #1f2937;
    font-style: italic;
  }

  
  .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px; 
    padding-bottom: 10px;
    width: 200px; 
    color: #f3f4f6; 
    background-color: #1f2937; 
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
  }

  .Login:hover {
    background-color: #111827; 
  }
  .already {
    color: rgb(255, 251, 251);
  }
  .goto {
    text-align: center;
    color: rgb(255, 251, 251);
    text-decoration: underline;
    font-weight: bold;
  }
}


@media (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
  .topbar {
    display: flex;
    height: 48px; 
    align-items: center;
    gap: 12px; 
    background-color: #181818;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .home-link {
    text-align: center;
    color: white;
    font-size: 18px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-link:hover {
    text-decoration: underline;
  }

  .logo {
    width: 52px; 
    height: 32px; 
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .AutoDz {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }

 
  .bottombar {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #000000;
    opacity: 0.8;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .copyright {
    text-align: left;
    font-size: 14px;
    color: white;
  }

  .termsandprivacy {
    text-align: right;
    font-size: 14px;
    color: white;
    margin-left: auto;
  }

  .termsandprivacy:hover {
    text-decoration: underline;
  }


.form-container {
    min-height: 100vh;
    overflow-y: hidden;
    padding: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
    isolation: isolate;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/mercedes-black-raobpqc23szwxs7d.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px);
    z-index: -1;
}

  .text {
    position: relative;
    top: 0;
    font-size: 36px; 
    color: #111827;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .form {
    margin-top: 8px; 
    padding-left: 10vw; 
    padding-right: 10vw;
    padding-top: 28px; 
    padding-bottom: 28px;
    max-width: 48rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.493);
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .form label {
    margin-top: 20px;
    font-size: 17px; 
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    text-align: left;
  }

  .form input {
    padding: 10px;
    height: 40px; 
    width: 390px; 
    background-color: #737070;
    border: 1px solid #111827;
    outline: none;
    border-radius: 8px;
  }

  .form input:focus {
    outline: none;
  }

  .form textarea {
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    resize: none;
  }

  .email {
    padding: 10px;
    height: 40px;
    width: 360px;
    background-color: #737070;
    color: #1f2937;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    border: 1px solid #111827;
    border-radius: 8px;
  }

  .email::placeholder {
    color: #1f2937;
    font-style: italic;
  }

  .password {
    padding: 10px;
    height: 40px;
    width: 360px;
    background-color: #737070;
    color: #1f2937;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    border: 1px solid #111827;
    border-radius: 8px;
  }

  .password::placeholder {
    color: #1f2937;
    font-style: italic;
  }

  
  .Login {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 280px; 
    color: #f3f4f6;
    background-color: #1f2937;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .Login:hover {
    background-color: #111827;
  }
  .already {
    color: rgb(255, 251, 251);
  }
  .goto {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
  }
}
